<!DOCTYPE HTML>
<html>
	<head>
		<title>EntropicsFest</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/animate.css">
		<script src="js/socket.io-1.3.5.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="js/lodash.min.js"></script>
		<script src="js/app.js"></script>
		<style>
			body {
				background-color: #fff;
				background-image: url("img/te_pattern.png");
				background-size: 80px 80px;
		    }
		    h1 {
					padding: 10px;
		    	margin-top: 50px;
		    	color: #eee;
		    }
			.header {
				min-height: 45px;
				font-size: 44px;
				box-shadow: 0 0 25px rgba(0, 0, 0, .8);
				-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .8);
				-moz-box-shadow: 0 0 25px rgba(0, 0, 0, .8);
				background-color: #2c3e50;
			}
			.stripes-left {
				position: absolute;
				height: 40%;
				width: auto;
				left: 0px;
				bottom: 0px;
				z-index: -1;
			}

			.stripes-right {
				position: absolute;
				height: 40%;
				width: auto;
				right: 0px;
				top: 0px;
				z-index: -1;

				-moz-transform: scaleX(-1) scaleY(-1);
        -o-transform: scaleX(-1) scaleY(-1);
        -webkit-transform: scaleX(-1) scaleY(-1);
        transform: scaleX(-1) scaleY(-1);
			}

      		table {
      			width:90%;
      			margin: 0 auto;
			}
      		td, th{
				padding: 10px;
				font-size: 18px;
      		}
      		th {
      			font-size: 20px;
      		}
					tr {
						color: #ddd;
					}
      		.table {
      			background-color: #2c3e50; /*#f4f4f4;*/
      			margin-top: 20px;
      			margin-bottom: 100px;
						box-shadow: 0 0 25px rgba(0, 0, 0, .8);
				-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .8);
				-moz-box-shadow: 0 0 25px rgba(0, 0, 0, .8);
				padding-bottom: 15px;
      		}
      		.x {
      			margin-top: 7px;
      			width: 50px;
      			margin-left: 5px;
      		}
					.xc {
      			width: 50px;
      		}
      		.x2 {
      			margin-top: 7px;
      			margin-right: 5px;
      			width: 50px;
      		}

			.sort-links {
				margin-bottom: 10px;
			}

			.sort-links a {
				display: inline-block;
				text-decoration: none;
				color: white;
				background-color: slategray;
				padding: 3px 10px;
			}

			.item {
				height: 50px;
				color: #eee;
				-webkit-transition: top 1s ease-out, background-color 1s;
				-moz-transition: top 1s ease-out, background-color 1s;
				padding: 15px;

				border-collapse: collapse;
				border-top: 1px solid #eee;
				border-bottom: 1px solid #eee;
			}

			.moving {
				background-color: rgba(52, 93, 78, 0.3);
			}
			@-webkit-keyframes pulse_animation {
				0% { -webkit-transform: scale(1); }
				7% { -webkit-transform: scale(1.02); }
				14% { -webkit-transform: scale(1.05); }
				21% { -webkit-transform: scale(1.1); }
				28% { -webkit-transform: scale(1.2); }
				35% { -webkit-transform: scale(1.3); }
				42% { -webkit-transform: scale(1.35); }
				51% { -webkit-transform: scale(1.4); }
				58% { -webkit-transform: scale(1.3); }
				65% { -webkit-transform: scale(1.2); }
				72% { -webkit-transform: scale(1.1); }
				79% { -webkit-transform: scale(1.05); }
				86% { -webkit-transform: scale(1.02); }
				100% { -webkit-transform: scale(1); }
			}
			.pulse {
				/*background-color: rgb(26, 111, 239);*/
				color: #fff;/*rgb(26, 111, 239);*/
				font-weight: 700;
				-webkit-animation-name: 'pulse_animation';
				-webkit-animation-duration: 1000ms;
				-webkit-transform-origin: center center;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-timing-function: linear;
			}
		</style>
	</head>
	<body ng-app="entropicsFest">
		<header>
			<div class="container">
				<div class="header">
					<h1 class="text-center">
						<img src="img/te_inverted.png" class="xc">
						EntropicsFest
					</h1>
				</div>
			</div>
		</header>
		<div id="eventId" style="display: none;"><%=id%></div>
		<div class="container" ng-controller="MainController">
			<div class="sort-links">
				<a href ng-click="x()">x</a>
				<a href ng-click="endG()">end</a>
				<a href ng-click="start()">start</a>
				<a href ng-click="getUsers()">users</a>
			</div>
			<table style="width: 100%;">
				<tr>
					<td style="width: 80px">
						<div class="table">
							<table>
								<tr><th class="text-center">#</th></tr>
								<tr ng-repeat="n in getN()" class="item"><td class="text-center">{{n}}</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class="table">
							<table>
							    <thead>
									<tr>
										<th>Nickname</th>
										<th ng-show='end' animate-on-change="end" class="animated text-center" width="100px">Headshots</th>
										<th ng-show='end' animate-on-change="end" class="animated text-center" width="100px">Kamikaze</th>
										<th ng-show='end' animate-on-change="end" class="animated text-center" width="100px">Knives</th>
										<th class="text-center" width="100px">Deaths</th>
										<th class="text-center" width="100px">Kills</th>
										<th class="text-center" width="100px">Points</th>
							        </tr>
							    </thead>
							    <tbody>
							    	<tr ng-repeat="user in users | orderBy:'-points'" class="item" jd-script>
							    		<td><img ng-src="img/uploads/{{ user.image }}" width="40px"> {{ user.username }}</td>
							    		<td ng-show='end' animate-on-change="end" class="animated text-center" width="100px">{{ user.data ? user.data.headshots : 0 }}</td>
							    		<td ng-show='end' animate-on-change="end" class="animated text-center" width="100px">{{ user.data ? user.data.kamikaze : 0 }}</td>
							    		<td ng-show='end' animate-on-change="end" class="animated text-center" width="100px">{{ user.data ? user.data.knives : 0 }}</td>
							    		<td class="text-center" width="100px">{{ user.data ? user.data.deaths : 0 }}</td>
							    		<td class="text-center" width="100px">{{ user.data ? user.data.kills : 0 }}</td>
							    		<td animate-on-change="user.points" class="text-center" width="100px">{{ user.data ? user.points : 0 }}</td>
							    	</tr>
							    </tbody>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<img src="img/stripes.png" class="stripes-left">
		<img src="img/stripes.png" class="stripes-right">

	</body>
</html>
